*{font-family: sans-serif;}
img{
    width: 500px;
}
ul{display: flex;
    flex-direction: row;
color:white;}
.a{
    margin-left: 20px;
    text-decoration: none;
    list-style: none;
    color: white;
    
    

}
.navr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    margin-left: 20px;
    color: white;
}
.green{
    color: green;

}
.imge{
    width: 30px;
    padding-top: 35px;
    padding-left: 800px;
}
.h{color: aquamarine;
padding-left: 400px;}
.paragraphs{
    display: flex;
    flex-direction: row;
    
}
.imgtwo{
    padding-left: 200px;
}